<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
  <tbody>
    <tr>
      <td height="110" valign="top" background="@Url.ThemeContent("~/Content/themes/" + ThemeManager.Style + "/images/dsggs.jpg")" class="dif"><div align="center">
          <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td height="13" colspan="3"><div align="center"></div></td>
              </tr>
              <tr>
                <td width="68"><div align="center"></div></td>
                <td width="804"><div align="center">COPYRIGHT &#169; 2015 FUZHOU DEVOTOP PHOTONICS CO., LTD. <br>
                    Address：NO.53，GUSHANZHOU,JINGXI TOWN,MINHOU,FUZHOU,FUJIAN,CHINA. Tel:86-591-83813887
                    <br>
                  </div></td>
                <td width="88"><div align="center"></div></td>
              </tr>
            </tbody>
          </table>
        </div></td>
    </tr>
  </tbody>
</table>