@{
}

<table width="100%" height="38" border="0" cellpadding="0" cellspacing="0" style="background:#f2f2f2;">
  <tbody>
    <tr>
      <td><table width="980" height="38" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>Welcome to FUZHOU DEVOTOP PHOTONICS CO., LTD..., Ltd. ！！  The time is： <script language="Javascript"> 
var now=new Date() 
document.write(+now.getYear()+" - "+(now.getMonth()+1)+" - "+now.getDate()+" "+now.getHours()+":"+now.getMinutes()+"") 
</script></td>
              <td>&nbsp;</td>
              <td align="right"><a href="javascript:;" onclick="this.style.behavior = 'url(#default#homepage)';SetHome(this, location.href);"> Homepage</a> | <a target="_top" href="javascript:AddFavorite('我的网站',location.href)">Favorites</a> | 
                <img src="@Url.ThemeContent("~/Content/themes/" + ThemeManager.Style + "/images/china.gif")" width="16" height="11" /> 
                <a href="@(Url.Action("Config", "Home", new { theme="zh-cn" }))">Chinese</a> | <img src="@Url.ThemeContent("~/Content/themes/" + ThemeManager.Style + "/images/Amcian.gif")" width="16" height="11" /> <a href="@(Url.Action("Config", "Home", new { theme = "en-us" }))">English</a></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>